name: Build IPK with ipkg-utils

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install ipkg-utils
        run: |
          sudo apt-get update
          sudo apt-get install -y ipkg-utils

      - name: Build .ipk package
        run: |
          mkdir -p build_output
          ipkg-build . build_output

      - name: Upload IPK artifact
        uses: actions/upload-artifact@v4
        with:
          name: ipk-packages
          path: build_output/*.ipk
