name: Build OpenWrt IPK

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Cache OpenWrt SDK
      uses: actions/cache@v3
      with:
        path: openwrt-sdk
        key: ${{ runner.os }}-openwrt-sdk

    - name: Set up OpenWrt SDK
      run: |
        if [ ! -d openwrt-sdk ]; then
          wget https://downloads.openwrt.org/releases/22.03.5/targets/x86/64/openwrt-sdk-22.03.5-x86-64_gcc-11.2.0_musl.Linux-x86_64.tar.xz
          tar -xf openwrt-sdk-22.03.5-x86-64_gcc-11.2.0_musl.Linux-x86_64.tar.xz
          mv openwrt-sdk-22.03.5-x86-64_gcc-11.2.0_musl.Linux-x86_64 openwrt-sdk
        fi

    - name: Prepare package
      run: |
        cp -r ./luci-app-connected openwrt-sdk/package/
        cd openwrt-sdk
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Build IPK
      run: |
        cd openwrt-sdk
        make package/luci-app-connected/compile V=s

    - name: Upload IPK
      uses: actions/upload-artifact@v3
      with:
        name: luci-app-connected
        path: openwrt-sdk/bin/packages/**/luci-app-connected_*.ipk
